#logo-container {
    font-family: 'Pacifico', cursive;
    margin-top: 12px;
}

#navBar {
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    margin-top: 25px;
}

img {
    margin-top: 75px;
    border-radius: 50%;
    border: 2px solid black;
    float: left;
    height: 40%;
    width: 40%;
}

.upload-btn-wrapper {
    margin-top: 370px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn {
    font-family: 'Varela Round', sans-serif;
    border: 2px solid white;
    color: gray;
    background-color: white;
    padding: 40px 20px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* button {
    font-family: 'Varela Round', sans-serif;
    float: left;
    border: 2px solid white;
    padding: 30px;
    border-radius: 50%;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
} */

body {
    background: url(../images/skin_side_up.png) no-repeat fixed;
    background-repeat: repeat;
}

.moodContainer {
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    background-color: white;
    padding: 20px;
    border: 2px solid grey;
    margin-top: 75px;
    float: right;
    text-align: left;
    width: 45%;
}

iframe {
    margin: 15px;
    margin-left: 20px;
    height: 300px;
    width: 45%;
}

.spotifyButton {
    font-family: 'Varela Round', sans-serif;
    display: block;
    text-align: center;
}

.otherAttributes {
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    background-color: white;
    padding: 20px;
    border: 2px solid grey;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    height: 100px;
    width: 100%;
}